<div class="container">
  <section class="container">
    <div class="exercises-row justify-space-between exercises-mb_20 w-md-full">
      <div class="exercises-col-xl-auto">
        <ul class="breadcrumbs">
          <li>
            <h3>Exercises</h3>
          </li>
        </ul>
      </div>

      <div class="exercises-md-col-12 exercises-col-xl-auto d-md-flex justify-space-between">
        <div id="search-container" class="search-container">
          <label for="search-input"></label><input type="text" id="search-input" class="search-input" placeholder="Search" />
          <button class="search-button" aria-label="Search"></button>
        </div>

        <ul class="exercises-filters" id="exercises-filters">
          <li class="exercises-filters__selected" data-name="Muscles">Muscles</li>
          <li data-name="Body parts">Body parts</li>
          <li data-name="Equipment">Equipment</li>
        </ul>
      </div>
    </div>
  </section>
  <ul class="exercises-list hidden" id="exercises-list"></ul>
  <div class="exercises-pagination"></div>
  <load src="/partials/quote.html" />
  <script src="./js/exercises.js" type="module"></script>
</div>