<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-logo-social">
        <a
          class="footer-logo"
          href="./index.html"
          aria-label="Site logo"
          rel="noopener noreferrer"
        >
          <svg class="logo-svg">
            <use href="./img/svg/sprites.svg#logo-light"></use>
          </svg>
        </a>
        <load src="partials/social.html" />
      </div>

      <div class="footer-form">
        <p class="footer-form-text">
          Transforming your <em>body</em> shape with us
        </p>
        <form class="subscription-form" id="subscriptionForm" novalidate>
          <label for="email" class="visually-hidden">
            Subscribe and learn about new exercises!
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Email"
              required
              pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            />
          </label>
          <button type="submit">Send</button>
        </form>
      </div>
    </div>

    <div class="footer-copyright">
      <p class="footer-copyright-text">Your Energy. All rights reserved.</p>
      <div class="footer-copyright-links">
        <ul class="footer-policy-links">
          <li><a class="policy" href="#">Privacy Policy /</a></li>
          <li><a class="policy" href="#">Terms of Service</a></li>
        </ul>
        <p class="copyright">&#169; 2025</p>
      </div>
    </div>
  </div>
</footer>
