<header class="header">
  <div class="container">
    <a
      class="header-logo"
      href="./index.html"
      aria-label="Site logo"
      rel="noopener noreferrer"
    >
      <svg class="header-logo-svg">
        <use href="./img/svg/sprites.svg#logo-dark"></use>
      </svg>
    </a>

    <load src="partials/nav.html" />
  </div>
  <button type="button" aria-label="Open menu" class="mac-menu">
    <svg class="mac-menu-icon">
      <use href="./img/svg/mac.svg"></use>
    </svg>
  </button>
</header>
