<header class="header">
  <div class="container">
    <a
      aria-label="Site logo"
      class="header-logo"
      href="./index.html"
      rel="noopener noreferrer"
    >
      <svg class="header-logo-svg">
        <use href="./img/svg/sprites.svg#logo-dark"></use>
      </svg>
    </a>

    <load src="partials/nav.html" />

    <button type="button" aria-label="Open menu" class="mac-menu">
      <svg class="mac-menu-icon">
        <use href="./img/svg/sprites.svg#burger"></use>
      </svg>
    </button>
  </div>
</header>
