<div class="backdrop visually-hidden" data-modal>
  <div class="modal">
    <button class="btn-modal-close" data-modal-close>
      <svg class="icon icon-modal-close">
        <use href="./img/svg/sprites.svg#close"></use>
      </svg>
    </button>

    <img alt="Exercise demonstration gif" class="img-modal-exercise" src="#" />
    <div class="modal-info">
      <p class="title-modal"></p>
      <div class="rating divider">
        <span class="rating-value"></span>

        <div class="rating-stars"></div>
      </div>
      <div class="stats divider">
        <ul class="stats-list"></ul>
      </div>
      <div class="description"><p class="desc-text"></p></div>
      <div class="modal-buttons">
        <button class="btn-modal-filled btn-modal-add-fav">
          <span class="btn-fav-text">Add to favorites</span>
          <svg class="icon icon-fav-btn" height="18" width="18">
            <use class="icon-fav-btn-use"></use>
          </svg>
        </button>
        <button class="btn-modal-give-rating" data-add-rating-open>
          Give a rating
        </button>
      </div>
    </div>
  </div>

  <div class="add-rating-modal visually-hidden">
    <button class="btn-modal-close" data-add-rating-close>
      <svg class="icon icon-modal-close">
        <use href="./img/svg/sprites.svg#close"></use>
      </svg>
    </button>
    <form class="add-rating-form" method="post">
      <p class="add-rating-title">Rating</p>

      <div class="add-rating-stars">
        <span class="add-rating-value">0</span>
        <label class="star-radio-btn">
          <input
            class="add-rating-radio-btn visually-hidden"
            name="radio"
            type="radio"
            value="1"
          />
          <svg class="icon icon-modal-rating-star" height="24" width="24">
            <use href="./img/svg/sprites.svg#star"></use>
          </svg>
        </label>
        <label class="star-radio-btn">
          <input
            class="add-rating-radio-btn visually-hidden"
            name="radio"
            type="radio"
            value="2"
          />
          <svg class="icon icon-modal-rating-star" height="24" width="24">
            <use href="./img/svg/sprites.svg#star"></use>
          </svg>
        </label>
        <label class="star-radio-btn">
          <input
            class="add-rating-radio-btn visually-hidden"
            name="radio"
            type="radio"
            value="3"
          />
          <svg class="icon icon-modal-rating-star" height="24" width="24">
            <use href="./img/svg/sprites.svg#star"></use>
          </svg>
        </label>
        <label class="star-radio-btn">
          <input
            class="add-rating-radio-btn visually-hidden"
            name="radio"
            type="radio"
            value="4"
          />
          <svg class="icon icon-modal-rating-star" height="24" width="24">
            <use href="./img/svg/sprites.svg#star"></use>
          </svg>
        </label>
        <label class="star-radio-btn">
          <input
            class="add-rating-radio-btn visually-hidden"
            name="radio"
            type="radio"
            value="5"
          />
          <svg class="icon icon-modal-rating-star" height="24" width="24">
            <use href="./img/svg/sprites.svg#star"></use>
          </svg>
        </label>
      </div>

      <input
        class="input-modal add-rating-email"
        id="email"
        name="email"
        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        placeholder="Email"
        required
        type="email"
      />
      <textarea
        class="input-modal add-rating-comment"
        id="comment"
        name="comment"
        placeholder="Your comment"
        required
      ></textarea>
      <button class="btn-modal-filled btn-add-rating-submit" type="submit">
        Send
      </button>
    </form>
  </div>
</div>

<script src="./js/modal.js" type="module"></script>
