<ul class="nav-list">
  <li class="nav-list-item">
    <a
      class="nav-list-link"
      href="./index.html"
      aria-label="Home page"
      rel="noopener noreferrer"
      >Home</a
    >
  </li>
  <li class="nav-list-item">
    <a
      class="nav-list-link"
      href="./favorites.html"
      aria-label="Favorites page"
      rel="noopener noreferrer"
      >Favorites</a
    >
  </li>
</ul>

<ul class="nav-social-list">
  <li class="nav-social-list-item">
    <a
      href="https://www.facebook.com/goITclub/"
      class="nav-social-list-link"
      aria-label="Facebook"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg class="nav-social-list-icon">
        <use href="./img/svg/sprite.svg#icon-facebook"></use>
      </svg>
    </a>
  </li>
  <li class="nav-social-list-item">
    <a
      href="https://www.instagram.com/goitclub/ "
      class="nav-social-list-link"
      aria-label="Instagram"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg class="nav-social-list-icon">
        <use href="./img/svg/sprite.svg#icon-instagram"></use>
      </svg>
    </a>
  </li>
  <li class="nav-social-list-item">
    <a
      href="https://www.youtube.com/c/GoIT"
      class="nav-social-list-link"
      aria-label="Youtube"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg class="nav-social-list-icon">
        <use href="./img/svg/sprite.svg#icon-youtube"></use>
      </svg>
    </a>
  </li>
</ul>
