<div class="exercises-col-xl-auto me-xl-16">
  <div class="exercises-row quotes">
    <div class="exercises-md-col-7 exercises-xl-col-12">
      <div class="daily-quote-container">
        <div class="quote-icon-wrapper">
          <svg class="quote-icon">
            <use href="./img/svg/sprite.svg#runner"></use>
          </svg>
        </div>
        <div class="quote-wraper">
          <div class="quote-header">
            <h2 class="quote-title">Quote of the Day</h2>
            <svg class="quote-icon">
              <use href="./img/svg/sprite.svg#quote"></use>
            </svg>
          </div>
          <div class="quote" data-role="quote-of-the-day-container">
          </div>
        </div>
      </div>
    </div>

    <div class="exercises-md-col-5 exercises-xl-col-12">
      <div class="quote-image">
        <picture class="quote-image-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/quote/desktop-1x.webp 1x,
              ./img/quote/desktop-2x.webp 2x,
              ./img/quote/desktop-3x.webp 3x
            "
            type="image/webp"
          />
          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/quote/tablet-1x.webp 1x,
              ./img/quote/tablet-2x.webp 2x,
              ./img/quote/tablet-3x.webp 3x
            "
            type="image/webp"
          />

          <source
            srcset="
              ./img/quote/mobile-1x.webp 1x,
              ./img/quote/mobile-2x.webp 2x,
              ./img/quote/mobile-3x.webp 3x
            "
            type="image/webp"
          />

          <img
            src="./img/quote/desktop-1x.webp"
            alt="women sportswear taking break from workout"
            loading="lazy"
          />
        </picture>
      </div>
    </div>

    <div class="exercises-md-col-7 exercises-xl-col-12">
      <div class="quote-recommendation">
        <div class="quote-icon-wrapper">
          <svg class="quote-icon">
            <use href="./img/svg/sprite.svg#dumbbell"></use>
          </svg>
        </div>
        <div class="quote-news-wraper">
          <div class="quote-news-header">
            <h2 class="quote-news-title">110 min</h2>
            <p class="quote-news-subtitle">Daily norm of sports</p>
          </div>
          <p class="quote-news-text">
            The World Health Organization recommends at least 150 minutes of
            moderate-intensity aerobic physical activity throughout the week for
            adults aged 18-64. However, what happens if we adjust that number to
            110 minutes every day?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="./js/quote.js" type="module"></script>
