<ul class="social-list">
  <li class="social-item">
    <a
      aria-label="Facebook"
      class="social-link"
      href="https://www.facebook.com/goITclub/"
      rel="noopener noreferrer"
      target="_blank"
    >
      <svg class="social-icon">
        <use href="./img/svg/sprites.svg#facebook"></use>
      </svg>
    </a>
  </li>
  <li class="social-item">
    <a
      aria-label="Instagram"
      class="social-link"
      href="https://www.instagram.com/goitclub/ "
      rel="noopener noreferrer"
      target="_blank"
    >
      <svg class="social-icon">
        <use href="./img/svg/sprites.svg#instagram"></use>
      </svg>
    </a>
  </li>
  <li class="social-item">
    <a
      aria-label="Youtube"
      class="social-link"
      href="https://www.youtube.com/c/GoIT"
      rel="noopener noreferrer"
      target="_blank"
    >
      <svg class="social-icon">
        <use href="./img/svg/sprites.svg#youtube "></use>
      </svg>
    </a>
  </li>
</ul>
