.header .social-link {
  color: var(--color-black);
  background-color: var(--color-white);
  border-color: var(--color-black);
}

.header .social-link:hover,
.header .social-link:focus {
  background-color: var(--color-black);
  color: var(--color-white);
  border-color: var(--color-black);
}

.footer .social-link:hover .social-icon {
  fill: var(--color-white);
}
/* #region Header */
.header {
  margin-top: 20px;
  @media screen and (max-width: 767px) {
    padding-bottom: 80px;
  }

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    margin-top: 24px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1440px) {
    margin-top: 28px;
    padding-bottom: 96px;
  }
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 132px;
  height: 24px;
}

.header-logo-svg {
  width: 132px;
  height: 24px;
}
/* #endregion General */

/* #region Burger */
.burger-menu {
  margin: 0;
  padding: 0;

  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;

  width: 32px;
  height: 32px;

  color: var(--color-black);

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.burger-menu:hover,
.burger-menu:focus {
  background-color: transparent;
}

.burger-menu-icon {
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;

  width: 32px;
  height: 32px;
}
/* #endregion Burger */
